<div id='display'>
<h2>Listing vendors</h2>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Description</th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td><%=h vendor.name %></td>
    <td><%=h vendor.url %></td>
    <td><%=h vendor.description %></td>
    <td><%= link_to 'Show', vendor %></td>
    <td><%= link_to 'Edit', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New vendor', new_vendor_path %>

</div>