<div id='display'>
<h2>New vendor</h2>

<% form_for(@vendor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :size => "60x7" %>
  </p>
  <p>
    <%= f.submit 'Create' %> |  
    <%= link_to 'Cancel', posts_path %>
  </p>
<% end %>

</div>