<div id='display'>
    <h2>New line_item</h2>

    <% form_for :line_item, :url => { :action => "create", :post_id => @post.id }, :type => 'post' do |f| %>
      <%= f.error_messages %>

      <p>
        Vendor <br />
        <%= select_tag(:vendor, options_from_collection_for_select(Vendor.all, 'id', 'name') ) %>
      </p>
      <p>
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </p>
      <p>
        <%= f.label :url %><br />
        <%= f.text_field :url %>
      </p>
      <p>
        <%= f.label :validity %><br />
        <%= f.datetime_select :validity %>
      </p>
      <p>
        <%= f.submit 'Create' %> |
        <%= link_to 'Cancel', line_items_path %>
      </p>
    <% end %>

</div>